* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

:root {
    --themeColor:rgb(12, 100, 110);
    --background-color: #111111;
    --text-color: white;
    --grey-color: rgb(137, 135, 135);
    --themeFont: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    background-color: var(--background-color);
    font-family: var(--themeFont);
}

.homePage {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.homePage::before {
    content: '';
    width: 30%;
    height: 200%;
    position: absolute;
    background: var(--themeColor);
    transform: rotate(-16deg);
    top: -10%;
    left: -5%;
}

.homePage .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.homePage .imgWrap {
    width: 45%;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
    margin-left:4%;
}

.homePage .imgWrap img {
    width: 100%;
    height: auto !important;
}

.homePage .mehulintro{
    width:150%;
    margin:0 8% 0 3%;
    z-index:1;
}

.homePage .wrapper .name {
    color: var(--themeColor);
}

.homePage .wrapper .heading {
    font-size: 3rem;
}

.homePage .wrapper .about {
    text-align: justify;
    line-height: 30px;
    margin-top: 2%;
    color: var(--grey-color);
    font-size: 1.4rem;
}

.homePage .wrapper .button {
    color: var(--text-color);
    border: 1px solid var(--themeColor);
    border-radius: 30px;
    font-size: 1.4rem;
    margin-top: 2%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 2%;
    margin-right: 4%;
    white-space: nowrap;
}

.homePage .wrapper .button a {
    color: var(--text-color);
    text-decoration: none;
}

.homePage .wrapper .button .icon {
    background-color: var(--themeColor);
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0%;
    height: 100%;
}

.homePage .wrapper .button .icon svg {
    font-size: 2.7rem;
}

.btn {
    padding-right: 60px;
    overflow: hidden;
}

.clickable {
    text-decoration: none;
    color: var(--text-color);
}

.btn::after {
    content: '';
    width: 0%;
    height: 100%;
    background-color: var(--themeColor);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.btn:hover::after {
    width: 100%;
}

.mainheading .me {
    color: var(--themeColor)
}

.mainheading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.75%;
}

.mainbgheading {
    position: relative;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--grey-color);
    opacity: 0.6;
}

.mainfrontheading {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
}

.homepagebuttons{
    display: flex;
    align-items: center;
}

@media only screen and (max-width:970px){
    .homePage .mehulintro{
        width:85%;
    }

    .homePage .wrapper .about{
        text-align: start;
        font-size: 1.3rem;
    }

    .homePage .wrapper .heading {
        font-size: 2.25rem;
    }

    .homePage::before {
        width: 40%;
        height: 200%;
        transform: rotate(-15deg);
    }
    
}

@media only screen and (max-width:900px) {
    .mainbgheading {
        font-size: 3.5rem;
        letter-spacing: 1px;
    }

    .mainfrontheading {
        font-size: 2rem;
    }

    .homePage .wrapper .button{
        font-size: 1.3rem;
        padding-left:10px;
    }

    .homePage .wrapper .button .icon svg {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width:700px){
    .homePage{
        height:100%;
    }

    .homePage .wrapper {
        flex-direction: column-reverse;
    }

    .homePage .wrapper .heading {
        font-size: 1.5rem;
    }

    .homePage .mehulintro{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:85%;
        margin:10% 0%;
    }

    .homePage .wrapper .about{
        font-size: 1.1rem;
        line-height: 22px;
        text-align: start;
    }

    .homePage .wrapper .button{
        font-size: 1.1rem;
        padding-left:20px;
    }

    .homePage .wrapper .button .icon svg {
        font-size: 2.2rem;
    }

    .homePage .imgWrap{
        width:30%;
    }

    .homePage::before {
        content: '';
        width:0;
    }
}

@media only screen and (max-width:600px){
    .homePage{
        margin-bottom: 22%;
    }
}

@media only screen and (max-width:540px) {
    .mainheading {
        margin-top: 7%;
    }
    
    .homePage .wrapper .name{
        margin-top:3%;
    }

    .mainbgheading {
        font-size: 3rem;
        letter-spacing: 1px;
    }

    .mainfrontheading {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width:450px){
    .homepagebuttons{
        flex-direction: column;
        align-items: flex-start;
    }

    .homePage .mehulintro{
        align-items: flex-start;
    }

    .homePage .wrapper .button{
        font-size: 1rem;
        padding-left:10px;
    }

    .btn{
        padding-right: 50px;
    }

    .homePage .wrapper .button .icon svg {
        font-size: 2rem;
    }

} 