.terminalsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    color: #c9d1d9;
    overflow: hidden;
    flex-basis: 40%;
    margin:2% 1%;
}

input[type="text"] {
    width: calc(100% - 20px);
    background-color: #0d1117;
    color: #c9d1d9;
    border: none;
    outline: none;
}

input[type="text"]:focus {
    border-color: transparent;
}

.terminal {
    width:100%;
    padding: 10px;
    background-color: #0d1117;
    color: #c9d1d9;
    border: 2px solid #30363d;
    border-radius: 8px;
    white-space: pre-line;
    height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc var(--themeColor);
    word-wrap: break-word;
}

