/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/about/about.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

/* Experience section css */

.experiencesection {
    margin: 5% 0;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

.sectionHeading {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.toolbox {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin: 2%;
    width: 400px;
}

.toolbox .heading {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 5%;
    text-transform: uppercase;
    text-decoration: underline;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1% 3% 4% 3%;
}

.itembox {
    display: flex;
    margin: 1% 2%;
    align-items: center;
    cursor: pointer;
}

.itembox .tick {
    margin-right: 10%;
    font-size: 1.3rem;
}

.toolname {
    font-size: 1.5rem;
    white-space: nowrap;
}

.itembox .experience {
    color: var(--themeColor);
    ;
}

.toolbox:hover {
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
}


/* About section css */

.aboutMe {
    color: var(--text-color);
    margin-top: 2%;
}

.aboutMe .me {
    color: var(--themeColor)
}

.aboutMe .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe .bgheading {
    position: relative;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--grey-color);
    opacity: 0.6;
}

.aboutMe .frontheading {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #30363d;
    background-color: #0d1117;
    border-radius: 10px;
    padding: 0% 1%;
    margin-left: 1%;
}

.intro .headingintro {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

.intro .row {
    display: flex;
    flex-direction: row;
    margin-top: 1%
}

.intro .row .col div,
.emailbox {
    margin-top: 3%;
    font-size: 1.4rem;
    white-space: nowrap;
    color: var(--grey-color);
}

.intro .row .col span,
.emailbox span {
    color: var(--text-color);
}

/* Education and Experience section */

.educationexperience .heading {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.educationexperience .detailbox .duration {
    background-color: var(--grey-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 5px 10px;
}

.educationexperience .container {
    margin-top: 2%;
}

.educationexperience .detailbox {
    margin: 2% 0;
    display: flex;
}

.educationexperience .detailbox h4 {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 600;
    margin-top: 2%;
}

.educationexperience .detailbox h4 span {
    font-size: 1.4rem;
    opacity: 0.8;
}

.educationexperience .detailbox p {
    color: rgb(148, 143, 143);
    font-size: 1.2rem;
    /* width: 70%; */
}

.educationexperience .detailbox .icon {
    background-color: var(--themeColor);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    position: relative;
}

.educationexperience .detailbox .icon::after {
    content: '';
    width: 1px;
    background-color: var(--grey-color);
    position: absolute;
    top: 100%;
    left: 50%;
    height: 60px;
}

.educationexperience .detailbox .icon svg {
    color: var(--text-color);
    font-size: 1.5rem;
}

.educationexperience .detailbox .right {
    margin-left: 2%;
}

/* ACHIEVEMENT SECTION */

.achievment {
    margin-bottom: 5%;
}

.achievment .heading {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.achievment p {
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    margin-top: 2%;
    font-size: 1.3rem;
}

.achievment .outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievment .inner {
    width: 70%;
    color: var(--text-color);
    text-align: center;
    font-size: 1.3rem;
}

.terminalandpersonalinfo {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/terminal/terminal.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.terminalsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    color: #c9d1d9;
    overflow: hidden;
    flex-basis: 40%;
    margin:0 1%;
}

input[type="text"] {
    width: calc(100% - 20px);
    background-color: #0d1117;
    color: #c9d1d9;
    border: none;
    outline: none;
}

input[type="text"]:focus {
    border-color: transparent;
}

.terminal {
    width:100%;
    padding: 10px;
    background-color: #0d1117;
    color: #c9d1d9;
    border: 2px solid #30363d;
    border-radius: 8px;
    margin-bottom: 20px;
    white-space: pre-line;
    height: 265px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc var(--themeColor);
    word-wrap: break-word;
}


